body {
    font-family: sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

main {
    flex: 0 1 720px;
    max-width: 720px;
    box-sizing: border-box;
    padding: 0 2rem 2rem 2rem;
    background-color: #ff8;
}

h1, .subtitle {
    text-align: center;
}

.entry-img img {
    display: block;
    width: 100%;
}

.entry-info {
    margin: 1rem 0;
}

.entry-info-highlights {
    text-align: center;
    margin-bottom: 1.5rem;
}

@media (max-width: 550px) {
    .entry-info-highlight-separator {
        display: none;
    }
    .entry-info-highlights-responsive {
        display: flex;
        flex-direction: column;
    }
}

.entry-info-split {
    display: flex;
    justify-content: space-between;
}

.entry-info-block {
}

.meal-container a,
.meal-container a img,
.menu-container a,
.menu-container a img {
    display: block;
    width: 100%;
}
